<%- include('partials/header') -%>

<header>
    <div class="">
        <img src="/" alt="" />
    </div>
    <div class="headings">
        <h2>Job Oppurtunity</h2>
        <h3>By Agus Janardana</h3>
        <a href="/job" class="btn">View Job</a>
    </div>
</header>

<%- include('partials/footer'); -%>
